// colors 
$citepurple: #540D6E; 
//for purple rgb (84, 13, 110)

$citepink: #EE4367; 
//for pink rgb (238, 67, 103)

$citeyellow: #FFD140; 
//for yellow rgb (255, 209, 64)

$citecyan: #3BCEAB; 
//for cyan rgb (59, 206, 171)

$citegreen: #08AD69; 
//for green rgb (8, 173, 105)

$citeblack: #000; 
$citewhite: #fff; 